* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0000);
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 200px;
    border: 3px solid #5a249b;
    border-radius: 10px;
}

.caption {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #5a249b;;
    background: rgba(201, 215, 237, 0.7);
    padding: 5px 5px;
}

.header {
    text-align: center;
    padding: 10px;
}

.title {
    font-family: cursive;
    font-size: 38px;
    color: #5a249b;
    margin-top: -150px;
}

/* Surprise button styles */
.surprise-container {
    text-align: center;
    margin-top: 20vh;
}

.surprise-container h1 {
    font-size: 2rem;
    color: #333;
}

.surprise-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

#showGalleryButton {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #a5d8e9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#showGalleryButton:hover {
    background-color: #6faad8;
}



